<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>shou_r2.png</key>
			<dict>
				<key>width</key>
				<integer>133</integer>
				<key>height</key>
				<integer>82</integer>
				<key>originalWidth</key>
				<integer>133</integer>
				<key>originalHeight</key>
				<integer>82</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jian.png</key>
			<dict>
				<key>width</key>
				<integer>339</integer>
				<key>height</key>
				<integer>43</integer>
				<key>originalWidth</key>
				<integer>339</integer>
				<key>originalHeight</key>
				<integer>43</integer>
				<key>x</key>
				<integer>134</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>jian2.png</key>
			<dict>
				<key>width</key>
				<integer>275</integer>
				<key>height</key>
				<integer>56</integer>
				<key>originalWidth</key>
				<integer>275</integer>
				<key>originalHeight</key>
				<integer>56</integer>
				<key>x</key>
				<integer>474</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yan.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>213</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>213</integer>
				<key>x</key>
				<integer>750</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yan2.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>177</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>177</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>yan3.png</key>
			<dict>
				<key>width</key>
				<integer>186</integer>
				<key>height</key>
				<integer>97</integer>
				<key>originalWidth</key>
				<integer>186</integer>
				<key>originalHeight</key>
				<integer>97</integer>
				<key>x</key>
				<integer>214</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>gongjian.png</key>
			<dict>
				<key>width</key>
				<integer>150</integer>
				<key>height</key>
				<integer>407</integer>
				<key>originalWidth</key>
				<integer>150</integer>
				<key>originalHeight</key>
				<integer>407</integer>
				<key>x</key>
				<integer>401</integer>
				<key>y</key>
				<integer>214</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>shou_r.png</key>
			<dict>
				<key>width</key>
				<integer>107</integer>
				<key>height</key>
				<integer>118</integer>
				<key>originalWidth</key>
				<integer>107</integer>
				<key>originalHeight</key>
				<integer>118</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>chibang.png</key>
			<dict>
				<key>width</key>
				<integer>213</integer>
				<key>height</key>
				<integer>181</integer>
				<key>originalWidth</key>
				<integer>213</integer>
				<key>originalHeight</key>
				<integer>181</integer>
				<key>x</key>
				<integer>108</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>aixin.png</key>
			<dict>
				<key>width</key>
				<integer>130</integer>
				<key>height</key>
				<integer>116</integer>
				<key>originalWidth</key>
				<integer>130</integer>
				<key>originalHeight</key>
				<integer>116</integer>
				<key>x</key>
				<integer>322</integer>
				<key>y</key>
				<integer>622</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>fx_qiubite0.png</string>
			<key>realTextureFileName</key>
			<string>fx_qiubite0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>