*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
LibAlipay/libs/alipaySdk-20160223.jar
LibAlipay/src/androidTest/java/com/will/libalipay/ApplicationTest.java
LibCommon/src/androidTest/java/com/will/common/ApplicationTest.java
LibImageLoader/src/androidTest/java/com/will/imageloader/ApplicationTest.java
LibImageLoader/src/test/java/com/will/imageloader/ExampleUnitTest.java
LibNotification/src/test/java/com/will/notification/ExampleUnitTest.java
LibQiniu/src/androidTest/java/com/example/libqiniu/ApplicationTest.java
LibSocket/src/androidTest/java/com/will/socket/ApplicationTest.java
LibSocket/src/test/java/com/will/socket/ExampleUnitTest.java
LibView/src/androidTest/java/com/will/view/ApplicationTest.java
LibWeb/src/androidTest/java/com/will/web/ApplicationTest.java
LibWeb/src/test/java/com/will/web/ExampleUnitTest.java
app/class_files.txt
app/key/livewill.jks
app/key/maracuya.jks
app/key/password.txt
app/seeds.txt
app/unused.txt
script/cmd_build.sh
script/cmd_rebuild.sh
script/mock_input.sh
script/run_util.sh
script/show_so.sh
script/svn.sh
script/uninstall.sh
